@model MVCApplication.Models.Dog

@{
    ViewData["Title"] = "Create dog";
}

<h2>Create a new Dog</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label>Age:</label>
        <input asp-for="Age" class="form-control" type="number" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Save</button>
</form>


